.month-grid-wrapper {
    display: flex;
    flex-direction: column;

    gap: var(--gap-between-tiles);

    height: 100%;
    overflow: auto;
}

.month-grid-wrapper .day-labels {
    flex: 0;

    padding: var(--content-padding);
    padding-bottom: 0px;
}

.month-grid-wrapper > div {
    display: grid;
    gap: var(--gap-between-tiles);
    grid-template-columns: repeat(7, minmax(0px, 1fr));

    animation: slide-up var(--animation-duration);
}

.month-grid {
    overflow: visible;

    padding: var(--content-padding);
    padding-top: 0px;

    flex: 1;

    grid-auto-rows: 1fr;
}

.month-grid .tile {
    animation: slide-up var(--animation-duration);
    overflow: hidden;

    align-items: start;
}

.month-grid .tile[today] b {
    color: var(--primary);
}

.month-grid .tile > div {
    width: 100%;
    height: 100%;
}

.month-grid .tile .event-count {
    display: none;

    background-color: var(--text-normal);
    color: var(--background);

    opacity: 0.6;
    border-radius: 100%;

    width: 1rem;
    height: 1rem;
    font-size: 0.6rem;
    font-weight: bold;

    align-items: center;
    justify-content: center;
}

.month-grid .tile .event-count[has-events] {
    background-color: var(--primary);
    opacity: 1;
}

.month-grid .tile .event-list {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    gap: var(--gap-between-tiles);
}
.month-grid .tile .event-list span {
    animation: slide-up var(--animation-duration);
}

@media (max-width: 640px) and (max-height: 900px) {
    .month-grid .tile {
        padding: 0px;
    }

    .month-grid .tile > div {
        align-items: center;
        justify-content: center;
    }

    .month-grid .tile .event-count {
        display: flex;
    }

    .month-grid .tile .event-list {
        display: none;
    }
}
